version: 1.0.{build}
branches:
  only:
  - development/r1.0
  - release/r1.0
image: Visual Studio 2015
install:
- cmd: >-
    set PATH=C:\Program Files (x86)\MSBuild\14.0\Bin;%PATH%

    dnvm install 1.0.0-rc1-update2 -r coreclr -arch x64 -nonative
cache: C:\Users\appveyor\.dnx\packages
build_script:
- ps: >-
    dnvm use 1.0.0-rc1-update2 -r coreclr -arch x64

    dnu restore

    .\build-all.ps1 -Verbose
test_script:
- ps: .\run-tests.ps1 -Verbose
deploy_script:
- cmd: dnu pack .\src\HTTPlease* --quiet
